@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap');

:root {
    --dark-bg-color: #1F2937;
    --button-bg-color: #3882F6;
    --quote-bg-color: #E5E7EB;
    --placeholder-bg-color: #6D757C;
    --light-color-primary:#F9FAF8;
    --light-color-secondary: #E5E7EB;
    --dark-color-primary: #1F2937;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-weight: 900;
}

button {
    background: var(--button-bg-color);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: inherit;
}

.secondary-text {
    font-weight: 100;
    font-size: 18px;
}

/* HEADER SECTION */
.landing-header {
    background: var(--dark-bg-color);
    color: var(--light-color-primary);
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.logo {
    font-size: 20px;
    font-weight: 700;
}

.links > ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.link {
    color: inherit;
    text-decoration: none;
}


/* HERO SECTION */
.landing-main {
    flex: 1;
}

.hero {
    background: var(--dark-bg-color);
    color: var(--light-color-primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}

.hero-text {
    width: 450px;
}

.hero-text > h1 {
    font-size: 48px;
}

.hero-text > p {
    margin-bottom: 10px;
}

.hero-image {
    width: 500px;
    height: 250px;
    flex-shrink: 0;
    text-align: center;
    align-content: center;
    background: var(--placeholder-bg-color);
}


/* RANDOM SECTION */
.random > h2 {
    font-size: 36px;
    color: var(--dark-color-primary);
    text-align: center;
    padding: 30px;
}

.card-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px 0;
}

.card {
    max-width: 200px;
    text-align: center;
}

.illustration {
    width: 200px;
    height: 200px;
    border: 3px solid var(--button-bg-color);
    border-radius: 10px;
    margin-bottom: 5px;
}


/* QUOTE SECTION */
.quote {
    background: var(--quote-bg-color);
    padding: 100px 200px;
}

.quote blockquote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.autor {
    text-align: end;
    font-weight: 700;
}


/* SIGN UP SECTION */
.sign-up {
    width: 80%;
    margin: 80px auto;
    padding: 50px;
    border-radius: 10px;
    background: var(--button-bg-color);
    color: var(--light-color-primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sign-up > button {
    border: 1px solid var(--light-color-primary);
}